.container {
  color: black;
}
.pagination button {
  background: #042b3f;
  border: none;
  margin: 10px 2px !important;
  margin-top: 10px;
  color: white !important;
}
.pagination {
  padding-left: 20px;
  padding-top: 10px;
}
.pagination button {
  padding: 5px 10px;
  margin: 8px;
  color: black;
}
